##### Author: Sanjib Lamichhane

##### Project Status: In Progress

## Import Data

In [11]:
import pandas as pd

import datetime

In [2]:
# import data from github repo
df = pd.read_csv("https://raw.githubusercontent.com/sanjiblamichhane/SL_Sentiment_Analysis_On_Customer_Discovery/master/data/clean_interview.csv")

In [4]:
## preview dataframe
df.head()

,Date,Interviewee,Profession,Medium,Notes
0,9/20/2021,NaN,Marine Biologist Shellfish Management,In-Person,"Jennifer is in charge of permits, regulations ..."
1,9/9/2021,NaN,President CEO,In-Person,Their farm is located in Maryland Chesapeake B...
2,9/9/2021,NaN,Electronics Design Technician,Video Conference,"They use cables to transmit power and data, he..."
3,9/9/2021,NaN,Owner,Video Conference,"They raised Tilapia fish indoor, in a controll..."
4,9/9/2021,NaN,Owner,Video Conference,She took eggs indoor and hatched them controll...

# Exploratory Data Analysis

In [5]:
## let's look at the dimension of the data
df.shape

(35, 5)

In [6]:
## print all columns
df.columns

Index(['Date', 'Interviewee', 'Profession', 'Medium', 'Notes'], dtype='object')

- we noticed there're 5 columns
- each column is referred as 'Object' datatype

## General Information About DataFrame

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         35 non-null     object
 1   Interviewee  0 non-null      float64
 2   Profession   35 non-null     object
 3   Medium       35 non-null     object
 4   Notes        34 non-null     object
dtypes: float64(1), object(4)
memory usage: 1.5+ KB

- Date is 'object' data-type. Need to change to datatime format
- Interviewee is float64. The real names of Interviewee were dropped. So Let's randomly generate some name for each interviewee.

In [18]:
## change the column type of date
df["Date"] = pd.to_datetime(df["Date"])

https://stackoverflow.com/questions/38333954/converting-object-to-datetime-format-in-python

In [20]:
## check the updated datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         35 non-null     datetime64[ns]
 1   Interviewee  0 non-null      float64
 2   Profession   35 non-null     object
 3   Medium       35 non-null     object
 4   Notes        34 non-null     object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.5+ KB

In [21]:
##
df.describe()

       Interviewee
count          0.0
mean           NaN
std            NaN
min            NaN
25%            NaN
50%            NaN
75%            NaN
max            NaN

##  Sorting

In [23]:
## sort by date
df.sort_values(by='Date', ascending = True).head()

,Date,Interviewee,Profession,Medium,Notes
34,2021-08-03,NaN,Pacific Northwest Laboratory,Video Conference,TBD
33,2021-08-05,NaN,"Director, Navigation and Civil Works Decision",Video Conference,"attribute to improvement in Navigation, Dredgi..."
31,2021-08-06,NaN,UW locatizaltion,In-Person,TBD
32,2021-08-06,NaN,Diving Officer,Video Conference,Monday Aug 9th at 2pm
30,2021-08-11,NaN,Associate Director,Video Conference,Discuss acoustic technology in commercialization.